        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
          <div class="my-auto" id="contact-content">
            <h2 class="mb-5">Contact</h2>
            {{ range .Site.Data.contact }}
              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">{{ .service }}</h3>
				  {{ if isset . "link" }}
					<a class="subheading mb-3" href="{{ .link }}">{{ .username }}</a>
				  {{ else }}
					<div class="subheading mb-3">{{ .username }}</div>
				  {{ end }}
				  {{ if isset . "comment" }}
					<p>{{ .comment }}</p>
				  {{ end }}
                </div>
              </div>
              {{ end }}

			  {{ if .Site.Params.showContactForm }}
			  <h3 class="mb-0">Contact Me Now</h3>
			  <div class="subheading mb-3">Alternatively, you can contact me here</div>
			  <form class="form-contact" name="Contact Me" method="POST" netlify>
				  <p><input class="form-entry" placeholder="Name" type="text" name="name"></p>
				  <p><input class="form-entry" placeholder="Email address" type="text" name="email"></p>
				  <p><textarea class="form-entry" placeholder="Type your message here..." type="text" name="message"></textarea></p>
				  <p><button type="submit">Submit</button></p>
			  </form>
			  {{ end }}
           </div>
        </section>
